.page {
    background-color: #f0fdfa; /* soft mint/neutral */
    padding-bottom: 2rem;
  }

.mainContent {
    display:flex;
    flex-direction:column;
    padding:1rem;
    align-items:center;
    color:#1a2e2b;
}

.movies {
    display:flex;
    flex-wrap:wrap;
}

.movie {
    display:flex;
    flex: 33%;
    margin:33px;
    border:1px solid black;
    border-radius:5px;
}

.movieInfo {
    padding:12px;
}

.nextPrevious {
    display:flex;

    font-size:20px;
    padding-left:10px;
    
}